<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - djMoney</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="maket" class="col-md-12">
        <div id="header">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="col-md-2"></div>
                <div id="logo" class="col-md-6">

                    <a href="#" title="На главную"></a>
                </div>
                <div class="col-md-4"></div>

            </div>
            <div class="col-md-5">
                <div id="aphorizm">От туго набитого кошелька на сердце легко.</div>
                <div>
                    <form action="#" method="post" name="FormSearch" id="FormSearch">
                        <input type="text" value="search" id="searchText">
                        <input type="button" id="search" class="glyphicon-ban-circle" value="" title="Найти">

                    </form>

                </div>
            </div>

        </div>
        <div id="navmenu" class="navbar-default">

            <div class="col-xs-2 navbar-default">&nbsp;
            </div>
            <div class="col-xs-5 navbar-default">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                    <ul class="nav nav-pills">
                        <li class="active">@Html.ActionLink("СВЕЖИЕ", "GetStoryByRandomID", "Home")</li>
                        <li>@Html.ActionLink("ЛУЧШИЕ", "GetStoryByRandomID", "Home")</li>
                        <li>@Html.ActionLink("СЛУЧАЙНЫЕ", "GetStoryByRandomID", "Home")</li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-5 navbar-default">
                <ul class="nav nav-pills">
                    <li><a href="#"><img src="~/Resources/pen.png" width="16" height="16" alt="" />ПРИСЛАТЬ ИСТОРИЮ</a></li>                    
                </ul>
            </div>

        </div>
        <div id="container" class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                @RenderBody()
            </div>
            <div class="col-md-5"></div>
        </div>

        <div id="footer" class="navbar-default">
            <div class="col-md-2 navbar-default">.</div>
            <div class="col-md-5 navbar-default">
                <div class="col-md-2 navbar-default">.</div>
                <div col-md-10>
                    <ul class="pagination">
                        <li>@Html.ActionLink("1", "Index", "Home", new { area = "", id = 1 }, new { @class = "t1" })</li>
                        <li>@Html.ActionLink("2", "Index", "Home", new { area = "", id = 2 }, new { @class = "t1" })</li>
                        <li>@Html.ActionLink("3", "Index", "Home", new { area = "", id = 3 }, new { @class = "t1" })</li>
                        <li>@Html.ActionLink("4", "Index", "Home", new { area = "", id = 4 }, new { @class = "t1" })</li>
                        <li>@Html.ActionLink("5", "Index", "Home", new { area = "", id = 5 }, new { @class = "t1" })</li>
                    </ul>
                    <p>
                        © 2016, команда djMoney. Проект компании Формула программиста. 18+
                    </p>
                </div>


            </div>
            <div class="col-md-5 navbar-default">.</div>

        </div>
    </div>


</body>
</html>