@model djMoney.Models.Article

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.GetID</h2>


@for (int i = 0; i < ViewBag.ArtCount; i++){
    <div class="col-lg-pull-8 nav-pills">
        
        <div class="ArticleHeader">
            <div class="znk">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="" title="">@ViewBag.Art[i].price</a>
                    </li>
                    
                </ul>
            </div>
            <a href="" title="Прочитайте сразу" >@ViewBag.Art[i].Title</a> 
        </div>
        <div class="col-lg-pull-4 ArticleDate">
          @ViewBag.Art[i].post_date
        </div>
        <div class="col-lg-pull-4 nav-pills ArticleContent">
           @ViewBag.Art[i].Context
        </div>
        <ul class="nav nav-pills ArticleLike">
          
            <li>@Html.ActionLink("Нравится", "Index", "Home")</li>

        </ul>
    </div>
}

